.event-card img {
  max-width: 100%;
  max-height: 70px;
}

.event-card>.card-body {
  background-color: #fff;
  font-size: 18px;
}

.event-card>.card-header {
  background-color: #ccc;
}

.event-card>.card-footer {
  background-color: #ccc;
}

