<!DOCTYPE html>

<html lang="en" ng-app="eventsApp">

<!-- css and js links go in here -->

<head>
  <meta charset="utf-8">
  <meta name="author" content="Dylan Hyun">
  <meta name="keywords" content="Tartan Wind Ensemble, Carnegie Mellon, Pittsburgh">
  <meta name="CMU Tartan Wind Ensemble">

  <title>Tartan Wind Ensemble</title>

  <!-- %%%% STYLES %%%% -->

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <!-- Foundation (old) -->
  <!-- <link rel="stylesheet" media="all" type="text/css" href="css/foundation.css" > -->
  <!-- <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css"> -->

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

  <!-- General App Styles -->
  <link rel="stylesheet" media="all" type="text/css" href="css/app.css">
  <link rel="stylesheet" media="all" type="text/css" href="./event_card.css">

  <!-- %%%% SCRIPTS %%%% -->

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>

  <!-- Boostrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <!-- General App Scripts -->
  <script src="js/events.js"></script>

</head>

<body>
  <div class="event-card border border-dark rounded">
    <div class="card-header d-flex align-items-center">
      <span class="m-0">Thursday 8/21</span>
      <span class="ml-auto m-0">8:30-9:30</span>
    </div>
    <div class="card-body d-flex flex-column align-items-center">
      <img src="../../assets/music_note.gif"> Concert Rehearsal
    </div>
    <div class="card-footer">
      <p class="m-0">CUC Studio Theatre</p>
    </div>
  </div>
</body>
</html>