<!DOCTYPE html>

<html lang="en" ng-app="eventsApp">

<!-- css and js links go in here -->

<head>
	<meta charset="utf-8">
	<meta name="author" content="Dylan Hyun">
	<meta name="keywords" content="Tartan Wind Ensemble, Carnegie Mellon, Pittsburgh">
	<meta name="CMU Tartan Wind Ensemble">

	<title>Tartan Wind Ensemble</title>

	<!-- %%%% STYLES %%%% -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	 crossorigin="anonymous">

	<!-- Foundation (old) -->
	<!-- <link rel="stylesheet" media="all" type="text/css" href="css/foundation.css" > -->
	<!-- <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css"> -->

	<!-- Icons -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

	<!-- General App Styles -->
	<link rel="stylesheet" media="all" type="text/css" href="css/app.css">
	<link rel="stylesheet" media="all" type="text/css" href="./footer.css">

	<!-- %%%% SCRIPTS %%%% -->

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>

	<!-- Boostrap -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	 crossorigin="anonymous"></script>

	<!-- General App Scripts -->

</head>

<body>
	<div class="row footer">
		<div class="col">
			<ul>
				<li>©
					<script type="text/javascript">
						var theDate = new Date()
						document.write(theDate.getFullYear())
					</script> Tartan Wind Ensemble
				</li>
				<li>5000 Forbes Ave.</li>
				<li>Pittsburgh, PA 15213</li>
				<li>cmutwe@gmail.com</li>
			</ul>
		</div>
		<div class="col">
			<ul>
				<li><a href="contact.html">Contact</a></li>
				<li><a href="https://calendar.google.com/calendar/embed?src=cmutwe%40gmail.com&ctz=America%2FNew_York">Calendar</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="members.html">Members</a></li>
			</ul>
		</div>
		<div class="col">
			<ul>
				<li>Connect with TWE</li>
				<li>
					<div class="footer-social">
						<a href="https://www.facebook.com/tartanwindensemble/" target="_blank">
							<img src="../../assets/fb.png" alt="facebook icon">
						</a>
						<a href="https://thebridge.cmu.edu/organization/twe" target="_blank">
							<img src="../../assets/bridge.png" alt="the bridge icon">
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>