.accordion-container {
	overflow-y: scroll;
}

#accordion {
	overflow-y: scroll;
}

.card {
	border-radius: 0;
}

.card-header>h5>.btn-link {
	text-decoration: none;
	color: #000;
}

.card-header>h5>.collapsed{
	text-decoration: none;
	color: #999;
}

.card-header>h5>.collapsed i {
	transform: rotate(270deg);
}

.card-header>h5>button:hover {
	text-decoration: none;
	color: #000;
}

.card-body {
	max-height: 275px;
	overflow-y: scroll;
}